body {
    font-family: helvetica;
}
h1 {
    font-size: 36px;
    color: #757a79;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    color: #757a79;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.col-2 {
    margin: 20px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-right: 10px;
    width: 70px;
}
.col-2:hover {
    background: #d6d6d6;
}
.weather-conditions li {
    text-align: right;
}
.weather-app {
    max-width: 550px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #9ba6a5;
    border-radius: 10px;
}
#temperature {
    font-size: 30px;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
}
.units {
    font-size: 13px;
    position: relative;
    top: -13px;
    line-height: 1;
}
a {
    text-decoration: none;
}
.active {
    color: #000;
    cursor: default;
}
.weather-forecast{
    margin-top:20px;
    text-align: center;
}
.forecast-date {
    font-size:15px;
    color:#000;
    opacity:0.8;
}
.forecast-temperatures {
    font-size:12px;
}
.temperature-min {
    opacity:0.8;
}
footer {
    text-align: center;
    font-size: 13px;
    font-family: courier;
    font-weight: bold;
}